<div class="form-group">
    <h1>{{page_title}}</h1>
</div>
<hr>      
<!-- Formulario Login -->
<form class="pl-3 w-50" [ngStyle]="{'border-left': '3px solid #030e2a'}" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">  
    <div class="form-group mt-5">
        <label [ngStyle]="{'font-weight': '500'}" for="email">Email</label>
        <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Example: rodrigo@mail.com" required/>
        </div>
        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
            El email no es válido
        </small>
    </div>
    <div class="form-group mt-5">
        <label for="password">Contraseña</label>
        <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" placeholder="Example: S1p7N12" required/>
        <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
            La contraseña no es válida
        </small>
    </div>
    <div class="form-group mt-5">
        <input type="submit" value="Iniciar sesión" class="btn btn-success col-md-3" [ngStyle]="{'border-radius': '20px'}" [disabled]="loginForm.invalid"/>
    </div>  
</form>