<div class="container-fluid" *ngIf="posts">
  <div class="card-columns">
    <article class="card mt-4 mb-4" *ngFor="let post of posts" [ngStyle]="{'background': 'linear-gradient(to bottom, transparent, black), center center url(' + url + 'post/image/' + post.image + ') no-repeat', 'background-size': 'cover', 'cursor': 'pointer'}" [routerLink]="['/entrada', post.id]">
      <div class="ribbon" *ngIf="post.category.name == 'Cardiología'" [ngStyle]="{'background-color': '#8d0000'}">
        <span>{{post.category.name}}</span>
      </div>
      <div class="ribbon" *ngIf="post.category.name == 'Psiquiatría'" [ngStyle]="{'background-color': '#c897cf'}">
        <span>{{post.category.name}}</span>
      </div>
      <div class="ribbon" *ngIf="post.category.name == 'Neurología'" [ngStyle]="{'background-color': '#3498d8'}">
        <span>{{post.category.name}}</span>
      </div>
      <div class="ribbon" *ngIf="post.category.name == 'Hematología'" [ngStyle]="{'background-color': '#27ae60'}">
        <span>{{post.category.name}}</span>
      </div>
      <div class="ribbon" *ngIf="post.category.name == 'Endocrinología'" [ngStyle]="{'background-color': '#d5890b'}">
        <span>{{post.category.name}}</span>
      </div>
      <div class="ribbon" *ngIf="post.category.name == 'Oncología'" [ngStyle]="{'background-color': '#d35400'}">
        <span>{{post.category.name}}</span>
      </div>
      <div class="card-body">
        <a class="link_post" [routerLink]="['/entrada', post.id]">{{post.title}}</a>
      </div>
    </article>
  </div>
</div>
